<%= form_for(@yearly_info, :html => {:class => "form"}) do |f| %>
  <% if @yearly_info.errors.any? %>
    <div id="error_explanation">
      <h2 class=" label label-danger"><%= pluralize(@yearly_info.errors.count, "error") %> prohibited this yearly_info from being saved:</h2>

      <ul>
      <% @yearly_info.errors.full_messages.each do |msg| %>
        <li class="label label-danger"><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label "User:" %><br>
    <%= f.select :user_id, options_for_select(Profile.all.map{|profile| [profile.firstName + " " + profile.lastName, profile.user_id]}, @yearly_info.user_id), {}, {:class => 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label "Comments:" %><br>
    <%= f.text_area :comments, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Year:" %><br>
    <%= f.select :year, (Time.zone.now.year - 100)..(Time.zone.now.year + 1), {}, {:class => "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label "Role:" %><br>
    <%= f.select :role, options_for_select(["Staff", "Teacher", "Volunteer", "Counselor", "Junior Counselor", "Student"], @yearly_info.role), {}, {:class => 'form-control'} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>